<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Información de Seguridad</title>

    </style>
</head>

<body>

    <h1>EDITAR INFORMACIÓN DE SEGURIDAD</h1>

        <form action="/informacion/{{ informacion.dataValues.id }}/editar" method="POST">
        <input type="hidden" name="_method" value="PUT"> <!-- Para indicar que es una solicitud de actualización -->
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ informacion.dataValues.titulo }}">
        <label for="contenido">Contenido:</label>
        <textarea id="contenido" name="contenido">{{ informacion.dataValues.contenido }}</textarea>
        <label for="multimedia">Multimedia:</label>
        <input type="text" id="multimedia" name="multimedia" value="{{ informacion.dataValues.multimedia }}">
        <button type="submit">Guardar Cambios</button>
        </form>
</body>