<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Contenido</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    
</head>
    
    

<body>
    <div class="header-icons">
        <a href="/users/{{user.dataValues.id}}"> <i class="fas fa-user" ></i></a> 
        <a href="/logout"><i class="fas fa-door-open"></i></a> 
    </div>
    <h1>Gestión de Contenido</h1>
    <div class="cards-container">
        <div class="card">
            <h2>Información</h2>
            <p>Administra la información del sitio.</p>
            <a href="/informacion">Ir a Información</a>
        </div>
        <div class="card">
            <h2>Foros</h2>
            <p>Gestiona los foros de discusión.</p>
            <a href="/foros">Ir a Foros</a>
        </div>
        <div class="card">
            <h2>Actividades</h2>
            <p>Administra las actividades disponibles.</p>
            <a href="/actividad">Ir a Actividades</a>
        </div>
    </div>
</body>
</html>

<style>
    .cards-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.card a:hover {
    background-color: #0056b3;
}
.header-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que los íconos estén por encima del contenido */
}

.header-icons i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre los íconos */
}
</style>