<body>
    <h1>Gestión de Contenido</h1>
    <div class="menu">
        <div class="menu-item">
            <a href="/informacion">Información</a>
        </div>
        <div class="menu-item">
            <a href="/foros">Foros</a>
        </div>
        <div class="menu-item">
            <a href="/actividades">Actividades</a>
        </div>
    </div>
</body>
</html>